@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');


.knowledges .knowledgesContent {
    min-height: 95vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 38% 1fr 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: "L E E" "O O H";
}
.knowledges .knowledgesContent .languagesFrameworks, .knowledges .knowledgesContent .experience, .knowledges .knowledgesContent .otherSkills, .knowledges .knowledgesContent .hobbies {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-radius: 25px;
    padding: 0.8rem;
}
.knowledges .knowledgesContent h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-family: 'Dosis', sans-serif;
    color: #36d0ea;
    text-transform: uppercase;
}
.knowledges .knowledgesContent .languagesFrameworks {
    grid-area: L;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "L" "F";
}
.knowledges .knowledgesContent .languagesFrameworks .languageDisplay {
    grid-area: L;
}
.knowledges .knowledgesContent .languagesFrameworks .frameworkDisplay {
    grid-area: F;
}
.knowledges .knowledgesContent .languagesFrameworks h3 {
    margin-bottom: 0.3rem;
}
.knowledges .knowledgesContent .languagesFrameworks .years {
    font-size: 0.65rem;
    display: flex;
    justify-content: space-between;
    color: white;
}
.knowledges .knowledgesContent .languagesFrameworks .years span {
    width: 36%;
}
.knowledges .knowledgesContent .languagesFrameworks .years span:nth-child(2) {
    text-align: center;
    width: 20%;
}
.knowledges .knowledgesContent .languagesFrameworks .years span:nth-child(3) {
    text-align: right;
    width: 44%;
}
.knowledges .knowledgesContent .languagesFrameworks .years span:nth-child(2):before, .knowledges .knowledgesContent .languagesFrameworks .years span:nth-child(3):before {
    content: '';
    background: rgba(180, 179, 179, 0.507);
    position: absolute;
    height: 80px;
    width: 1px;
    transform: translate(10px, 19px);
}
.knowledges .knowledgesContent .languagesFrameworks .languagesList {
    padding-top: 0.5rem;
}
.knowledges .knowledgesContent .languagesFrameworks .languagesList li {
    color: #2a1d52;
}
.knowledges .knowledgesContent .languagesFrameworks .languagesList .progressBar {
    height: 0.4rem;
    background: transparent;
    border-radius: 50px;
    margin-top: 0.2rem;
    position: relative;
}
.knowledges .knowledgesContent .languagesFrameworks .languagesList .progressBar:after {
    content: '';
    position: absolute;
    background: #63a4e9;
    border-radius: 50px;
    height: 0.4rem;
    width: 0;
    animation: line 2s ease-out forwards;
}
@keyframes line {
    to {
        width: 100%;
   }
}
.knowledges .knowledgesContent .experience {
    grid-area: E;
    margin: 0 0 0.5rem 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 1fr;
    grid-template-areas: "1" "2" "3";
}
.knowledges .knowledgesContent .experience h3 {
    grid-area: 1;
}
.knowledges .knowledgesContent .experience h4 {
    font-size: 1.1rem;
    color: #36d0ea;
}
.knowledges .knowledgesContent .experience h5 {
    color: #63a4e9;
    padding: 0.5rem 0 0.5rem 1rem;
}
.knowledges .knowledgesContent .experience p {
    text-align: justify;
    padding: 0 1rem;
}
.knowledges .knowledgesContent .experience .exp-1 {
    grid-area: 2;
}
.knowledges .knowledgesContent .experience .exp-2 {
    grid-area: 3;
}
.knowledges .knowledgesContent .otherSkills {
    grid-area: O;
    margin-right: 0.3rem;
}
.knowledges .knowledgesContent .otherSkills .list {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.knowledges .knowledgesContent .otherSkills .list ul {
    height: 80%;
    display: grid;
}
.knowledges .knowledgesContent .otherSkills .list ul i {
    color: #36d0ea;
}
.knowledges .knowledgesContent .hobbies {
    grid-area: H;
    padding-left: 1.5rem;
}
.knowledges .knowledgesContent .hobbies ul {
    height: 80%;
    display: grid;
}
.knowledges .knowledgesContent .hobbies ul li i {
    position: absolute;
    color: #36d0ea;
}
.knowledges .knowledgesContent .hobbies ul li span {
    position: absolute;
    transform: translateX(2.2rem);
}
@media screen and (max-width: 950px) {
    .knowledgesContent h3 {
        font-size: 1.2rem !important;
   }
    .knowledgesContent .languagesList {
        padding-top: 0.2rem !important;
   }
    .knowledgesContent p {
        font-size: 0.8rem;
   }
    .knowledgesContent .otherSkills, .knowledgesContent .hobbies {
        font-size: 0.8rem;
   }
}
@media screen and (max-width: 850px) {
    .knowledgesContent h4 {
        font-size: 0.9rem !important;
   }
    .knowledgesContent h5 {
        font-size: 0.6rem !important;
        padding: 0.2rem 1rem !important;
   }
}
@media screen and (max-width: 500px) {
    .knowledgesContent {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 180px 180px !important;
   }
    .knowledgesContent .languages {
        grid-area: 1 !important;
   }
    .knowledgesContent .experience {
        grid-area: 2 !important;
        margin-left: 0 !important;
   }
    .knowledgesContent .otherSkills {
        grid-area: 3 !important;
        margin-right: 0 !important;
   }
    .knowledgesContent .hobbies {
        grid-area: 4 !important;
        margin-top: 0.5rem !important;
   }
}
